<section class="hero is-info is-fullheight is-bold">
  <div class="container mt-4 d-flex-column">
    <h1 class="title row justify-content-center">Welcome to HxH Shipping</h1>
    <p class="row">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sagittis feugiat mi. Aenean sollicitudin magna enim. Ut vel elementum sapien.
      Nullam aliquam facilisis sapien a maximus. Proin elementum massa ac risus euismod consectetur.
      Morbi quis velit in orci interdum fermentum. Maecenas a consectetur tortor. Maecenas metus tortor, gravida sed ullamcorper non, sagittis ut nisl.
      Fusce ultricies iaculis risus, ut venenatis purus faucibus quis. Phasellus placerat hendrerit tempor. In hac habitasse platea dictumst.
      Morbi ornare nunc ac quam viverra tincidunt. Morbi a risus eget metus scelerisque venenatis. Nulla enim mauris, volutpat id accumsan ac, ornare eu lectus.
      Vivamus tempus justo vel pharetra venenatis. Suspendisse potenti. Nulla facilisi. Nam eu velit eget sapien iaculis finibus id sed libero. Sed purus mauris, tincidunt sit amet facilisis id, cursus vitae ligula. Nam a mi rhoncus, molestie ante commodo, porta magna. Nulla a enim sit amet tortor feugiat vulputate. Etiam a vehicula ex, sed fermentum massa. Integer tortor odio, laoreet id risus sit amet, rutrum molestie orci. Curabitur ac fringilla leo, porttitor gravida arcu. Pellentesque eget ante urna. Sed nec augue vel purus dignissim facilisis. Sed dictum cursus sagittis. Quisque ultrices ut risus rutrum volutpat. Phasellus cursus placerat felis eget mollis. Interdum et malesuada fames ac ante ipsum primis in faucibus.
    </p>
    <div class="row justify-content-center">
      <button mat-raised-button color="Primary" [routerLink]="'/map'">View map</button>
    </div>
  </div>
</section>
